.container {
  font-family: cursive;
  background-color: #42cef9;
  text-align: center;
  /* margin: 0; */
  /* padding: 0; */
}

.game-title {
  color: #5bf64d;
}

.clicker-button {
  background-color: #4caf50;
  color: rgb(30, 253, 82);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clicker-button:hover {
  background-color: #45a049;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fd579c;
  padding: 25px;
  border: 1px solid #53c2fd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(43, 6, 6, 0.2);
  font-family: cursive;
}
.popup.show {
  display: block;
}
