
/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  } */

.container {
    font-family: 'Arial', sans-serif;
    background-color: #359ff5;
    text-align: center;
    margin: 30;
    padding: 40;
  }
  
  .game-title {
    color: #1c0505;
    font-family:cursive;
  }
  
  .clicker-button {
    background-color: #4caf50;
    color: rgb(232, 48, 171);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .clicker-button:hover {
    background-color: #45a049;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ed33af;
    padding: 20px;
    border: 1px solid #ec3798;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(11, 147, 49, 0.2);
  }
  
  .popup.show {
    display: block;
  }
  
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    animation: gradientAnimation 10s linear infinite;
  }
  
  .container {
    text-align: center;
  }
  
  .game-title {
    color: #d30e98;
  }
  
  .clicker-button {
    background-color: #4caf50;
    color: rgb(73, 10, 112);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .clicker-button:hover {
    background-color: #45a049;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1573a2;
    padding: 20px;
    border: 1px solid #f33fb1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(105, 11, 11, 0.2);
  }
  
  .popup.show {
    display: block;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  